<nav class="navbar navbar-default navbar-expand-lg">
    <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
    </button>
    <a class="navbar-brand" routerLink="/Home"><img class="img-fluid" src="assets/images/logo.png" alt="Logo"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
    <li class="active"><a routerLink="/Home">Home</a></li>
    <li><a routerLink="/ListJobs" >Job list</a></li>
    <li><a routerLink="/profil">Profil</a></li>
    <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Pages<span class="caret"></span></a>
    <ul class="dropdown-menu">
    <li><a routerLink="/profil">Profil</a></li>
    <li><a routerLink="/add-profil">Post Resume</a></li>
    <li><a routerLink="/post-job">Job Post</a></li>
    <li><a routerLink="/edit-profil">Edit Resume</a></li>
    <li><a routerLink="/post-job">profile Details</a></li>
    <li><a routerLink="/post-job">Applied Job</a></li>
    <li><a routerLink="/post-job">Close Account</a></li>
    <li><a routerLink="/signup">Job Signup</a></li>
    <li><a routerLink="/signin">Job Signin</a></li>
    </ul>
    </li>
    </ul>
    </div>
    
    <div class="nav-right">
    <ul class="sign-in">
    <li><i class="fa fa-user"></i></li>
    <li><a routerLink="/signin">Sign In</a></li>
    <li><a routerLink="/signup">Register</a></li>
    </ul>
    <a routerLink="/post-job" class="btn">Post Your Job</a>
    </div>
    
    </div>
    </nav>
